
@import url('https://fonts.googleapis.com/css2?family=Asap:ital,wght@1,500&family=IBM+Plex+Sans:wght@300&family=Nunito:wght@700&family=Oswald:wght@500&display=swap');

body {
    background-color: #F4F4F4;
    font-family: 'IBM Plex Sans', sans-serif;
    margin: 0%;
    
}
.cabecalho{
    display: flex;
    background-color:#FFFFFF;
    padding: 20px;
    gap: 60%;
    justify-content: space-between;
}


.texto nav a{
    color: #53565F;
    text-decoration: none;
    
}

.navegacao{
    display: flex;
    justify-content: space-between;
    padding-bottom: 23px;
    background-color: #ffffff;
}

hr{
    margin: auto;
}

.navegacao nav a{
    color: #53565F;
    margin: 1.6em;
    text-decoration: none;
    font-size: 16px;
}

.cabecalho img{
    margin-left: 0.5em;
}

footer{
    background-color: #3B3B3B;
    padding: 30px;
}

footer img{
    padding: 0px;
}

#caixaPreta{
    background-color: #262626;
    color: #FFFFFF;
}